.search {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.search-label { /* Source: https://stackoverflow.com/questions/26032089/ */
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.search-input {
    flex-grow: 1;
    border-radius: 20px 0px 0px 20px;
    border-width: 2px 0px 2px 2px;
    padding: 5px 10px;
}

.search-button {
    background-color: lightblue;
    border-radius: 0px 20px 20px 0px;
    border-width: 2px;
    padding: 5px 10px;
}

.search * {
    border-style: solid;
    border-color: black;
    font-size: x-large;
    min-width: none;
}

@media(max-width: 768px) {
    .search * {
        font-size: large;
    }
}